/**
 * Styles for the add-observation.html page 
 */
.required {
  color: red;
}

#description {
  width: 500px;
}

#notes {
  width: 530px;
}

#photographerName {
  width: 500px;
}

#photographerEmail {
  width: 500px;
}
